RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]
# Header always set Access-Control-Allow-Origin: "*"

# Hide a specific file
<Files .env>
    Order allow,deny
    Deny from all
</Files>

# Hide a specific file
<Files .env.example>
    Order allow,deny
    Deny from all
</Files>